{% extends 'base.html.twig' %}

{% block title %}Modifier Article{% endblock %}
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

<style>
main {
    background: #f0f9fb;
}
</style>
{% endblock %}

{% block body %}

    <!-- content -->
    
    <section id="content" class="container pabIndent" style="padding-top:50px">
        <!-- contentFiltersHeadingWrap -->
        <header class="contentFiltersHeadingWrap row">
            <div class="col-xs-12 col-sm-10">
                <h1 class="fontNeuron">Modifier Article</h1>
            </div>
        </header>
        <!-- userProfile -->
        <div class="userProfile">
            <div class="row">
                {% include "profile/_left_menu.html.twig" %}
                <div class="col-xs-12 col-sm-8 col-lg-9">
                    {% for error in errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ error.message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                <!-- accountData -->
                        <div class="accountData">
                            <div class="head">
                            <h4 class="fontNeuron">Modifier Article</h4>
                            
                            </div>
                            <!-- propertiesList -->
                            <div class="propertiesList">
                                
                                {{ include('profile/_form.html.twig') }}
                            </div>
                        </div>
                        <!-- pagination -->
                
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.12/dist/summernote-lite.min.js"></script>

<script src="{{ asset('js/summernote-fr.js') }} "></script>
<script>

$(document).ready(function(){

    

    $('.summernote').summernote({
        
        focus: false,
        tabsize: 2,
        lang: 'fr-FR',
        lineHeight:1.5,
        minHeight: 300   
    })
});

</script>

{% endblock %}