{% extends 'base.html.twig' %}

{% block title %}Inscription réussite{% endblock %}

{% block body %}
    
    <!-- content -->
    <div id="content" class="container pCombine">
        <section class="block404 text-center">
            <h2 class="fontNeuron">Inscription terminé</span></h2>
            <p>Merci pour votre inscription. <br>Un e-mail vous sera envoyé une fois que vous aurez approuvé.</p>
            
            <a href="{{ path('home') }}" class="buttonL btn btnDark fontNeuron">Retour à la page d'accueil</a>
        </section>
    </div>
    
{% endblock %} 
