{% if without_nav is defined %}
    <header id="pageHeader" class="bgWhite shadow">
        <!-- pageHeaderWrap -->
        <div class="pageHeaderWrap">
            <!-- headerTopBar -->
            <div class="container">
                <!-- headerHolder -->
                <div class="headerHolder">
                    <!-- logo -->
                    <div class="logo logoCentered" style="text-align: center;">
                        <a href="/" class="fontNeuron blockH text-uppercase colorPrimary">
                            <span>ARABYAA</span>
                            {# <img style="display: block;margin: 0 auto;" src="{{ asset('frontoffice/images/arabyia2.png') }}" alt="Arabya"> #}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% else %}
    <header id="pageHeader" class="bgWhite offsetBottom">
        <!-- pageHeaderWrap -->
        <div class="pageHeaderWrap">
            
            <div class="container">
                <!-- headerHolder -->
                <div class="headerHolder">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <!-- logo -->
                            <div class="logo">
                                <a href="/" class="fontNeuron blockH text-uppercase colorPrimary">
                                    ARABYAA
                                    {# <img src="{{ asset('frontoffice/images/arabyia2.png') }}" alt="Arabya"> #}
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-9 d-flex site-info">
                            <!-- headerContactList -->
                            <ul class="list-unstyled headerContactList">
                                <li>
                                    <a href="tel:+12463450695" class="icn icnBubble noShrink text-info"><i class="fi flaticon-24-hours"></i></a>
                                    <div class="descr hidden-xs">
                                        <strong class="fwNormal elemenBlock text"><a href="tel:+12463450695">+33 246-345-0695</a></strong>
                                        <strong class="fwNormal elemenBlock text"><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#109;&#101;&#115;&#119;&#101;&#101;&#116;&#046;&#099;&#111;&#109;">info@arabya.com</a></strong>
                                    </div>
                                </li>
                                <li class="hidden-xs">
                                    <span class="icn icnJumping text-info noShrink"><i class="fi flaticon-pin-1"></i></span>
                                    <div class="descr">
                                        <strong class="fwNormal elemenBlock text">PO Box 16122 Collins Street West <br>Victoria 8007 France</strong>
                                    </div>
                                </li>
                            </ul>
                            <!-- headerSearchForm -->
                            <form action="#" class="headerSearchForm">
                                <a class="headerSearchOpener roundedCircle bgWhite" role="button" data-toggle="collapse" href="#headerSearchFormcollapse" aria-expanded="false" aria-controls="headerSearchFormcollapse"><i class="fi flaticon-search btnOpen"></i><i class="fas fa-times btnClose"></i></a>
                                <!-- headerSearchFormcollapse -->
                                <div class="collapse searchFormcollapse bgWhite" id="headerSearchFormcollapse" aria-expanded="false" role="form">
                                    <div class="form-group form-group-lg">
                                        <label for="s" class="labelIcn"><i class="fi flaticon-search"></i></label>
                                        <input type="search" id="s" class="form-control elemenBlock" placeholder="Search&hellip;">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- pageNav -->
                <nav id="pageNav" class="navbar navbar-default pageNav1">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header hidden-sm hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- navbar collapse -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div class="navigation-wrapper">
                            <strong class="h elemenBlock h4 textWhite text-center hidden-sm hidden-md hidden-lg menuTitle fontNeuron" id="menu-title">Menu</strong>
                            <!-- pageMainNav -->
                            <ul class="nav navbar-nav pageMainNav pageMainNav1">
                                <li class="active">
                                    <a href="/" >Acceuil</a>
                                </li>
                                <li>
                                    <a href="/news">Actualités</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- userOptions -->
                    <div class="userOptions">
                        <!-- UserLinksList -->
                        <ul class="list-unstyled UserLinksList">
                            {% if app.user %}
                            <li>
                                <a href="/profile" >
                                    <i class="fi flaticon-social icn"></i>
                                    <strong class="text fwNormal hidden-xs hidden-sm">Mon profile</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/logout" >
                                    <i class="fi flaticon-logout icn"></i>
                                    <strong class="text fwNormal hidden-xs hidden-sm">Se déconnecter</strong>
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/login" >
                                    <i class="fi flaticon-social icn"></i>
                                    <strong class="text fwNormal hidden-xs hidden-sm">Se connecter</strong>
                                </a>
                            </li>
                            <li>
                                <a href="/register" >
                                    <i class="fi flaticon-edit icn"></i>
                                    <strong class="text fwNormal hidden-xs hidden-sm">S'inscrire</strong>
                                </a>
                            </li>
                            {% endif %}
                            
                        </ul>
                        <!-- headerModalOpener -->
                        {# <a href="#" class="headerModalOpener text-uppercase fontNeuron fwBold"><i class="openerIcon"></i> Submit Property</a> #}
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endif %}

