{% extends "frontoffice/base.html.twig" %}
{% block title %}Contact{% endblock %}
{% block stylesheets %}
<style>
main {
    background: #f0f9fb;
}
</style>
{% endblock %}

{% block body %}
    
    <!-- content -->
    <section id="content" class="container pabIndent" style="padding-top:50px">
        <!-- contentFiltersHeadingWrap -->
        <header class="contentFiltersHeadingWrap row">
            <div class="col-xs-12 col-sm-10">
                <!-- breadcrumb -->
                
                <h1 class="fontNeuron">Contact</h1>
            </div>
            
        </header>
        <!-- contactMain -->
        <div class="contactMain">
            <div class="row flexSameHeight">
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <!-- contactFormPage -->
                    <div class="contactFormPage">
                        <h4 class="fontNeuron">Envoyer nous un message</h4>
                        <form>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" id="txtname" placeholder="Nom et prénom" class="form-control" required data-error="NEW ERROR MESSAGE">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <input type="email" id="txtemail" placeholder="Email" class="form-control" required data-error="NEW ERROR MESSAGE">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <input type="tel" id="txttel" placeholder="Téléphone" class="form-control" required data-error="NEW ERROR MESSAGE">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <input type="url" id="txtwebsite" placeholder="Site web" class="form-control" required data-error="NEW ERROR MESSAGE">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="txtmessage" placeholder="Message" required data-error="NEW ERROR MESSAGE"></textarea>
                            </div>
                            <button type="submit" class="btn btnDark fontNeuron buttonXL" id="form-submit">Envoyer</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <!-- contactInfoPage -->
                    <div class="contactInfoPage">
                        <h4 class="fontNeuron">Contactez-Nous</h4>
                        <p>Lorem ipsum dolor sit amet dui, consectetur adipisicing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        <address class="adr">
                            <div class="item">
                                <i class="fi flaticon-navigation"></i>
                                <span class="text">Collins Street West, Victoria 8007, France.</span>
                            </div>
                            <div class="item">
                                <i class="fi flaticon-24-hours"></i>
                                <span class="text"><a href="tel:+12463450695">+1 246-345-0695</a></span>
                            </div>
                            <div class="item">
                                <i class="fi flaticon-mail"></i>
                                <span class="text"><a href="mailto:info@LemanHouse.com">info@arrabya.com</a></span>
                            </div>
                        </address>
                        <ul class="socialNetworks list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

{% endblock %}
