<div class="col-xs-12 col-sm-4 col-lg-3">
    <!-- profileSidebar -->
    <aside class="profileSidebar">
        <header class="head">
            <div class="imgProfile">
                <img src="https://via.placeholder.com/74x74" alt="" width="74" height="74">
            </div>
            <div class="info">
                <span class="text">{{ app.user.nom ~' '~ app.user.prenom}}</span>
            </div>
        </header>
        <ul class="navUser list-unstyled">
        <li {% if left_menu=='dashboard' %} class="active" {% endif %}>
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-tachometer-alt"></i>
                <span>Tableau de bord</span>
            </a>
        </li>
        <li {% if left_menu=='users' %} class="active" {% endif %}>
            <a href="{{ path('users') }}">
            <i class="fa fa-users"></i>
            <span>Utilisateurs</span>
            </a>
        </li>
        <li>
            <a href="{{ path('post_index')}}">
            <i class="fa fa-newspaper"></i>
            <span>Actualités</span>
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fa fa-plus"></i>
            <span>Ajouter actualité</span>
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fa fa-sign-out-alt"></i>
            <span>Se déconnecter</span>
            </a>
        </li>
        </ul>
    </aside>
</div>