<div class="pageFooterBlock">
    
    <!-- pageFooter -->
    <footer id="pageFooter">
        <div class="container pageFooterHolder">
            <div class="row">
                <div class="col-xs-12 col-sm-push-6 col-sm-6">
                    <!-- pageFooterSocial -->
                    <ul class="socialNetworks list-unstyled pageFooterSocial"  style="color:#fff">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-pull-6 col-sm-6" style="color:#fff">
                    <p><a href="/">Araabya</a> by high levels news production</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- btnScrollToTop -->
    <a href="#pageWrapper" class="btnScrollToTop smooth textWhite"><i class="fi flaticon-arrows btnScrollIcn"></i></a>
</div>