<p>Une nouvelle inscription a été ajoutée à la plateforme <strong>ARAABYA.COM</strong> à {{ date_creation|date('d/m/Y H:i') }}</p>
<p>Veuillez verifier l'utilisateur à travers ce <a href="{{ link_user }}">lien</a></p>